.thumbnail
  position: relative

.deleteButton
  position: absolute
  top: 0.25rem
  right: 0.25rem
  z-index: 1
  opacity: 0
  transition: opacity 150ms ease

.thumbnail:hover .deleteButton
  opacity: 1
